body {
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(47, 52, 54);
}

.content {
  display: flex;
  width: 100%;
  gap: 10px;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 1000px;
}

section {
  background: #fff;
}

.canvas-pane {
  flex: 1;
  margin-top: 15px;
  padding: 0 !important;
  height: 600px;
}

.objects-pane {
  flex-shrink: 0;
  width: 220px;
  height: 620px;
  padding: 15px 22px 0;
  overflow: auto;
}

.settings-pane {
  width: 210px;
  padding: 15px 22px 0;
  height: 620px;
}

.settings-pane row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.row > .title {
  font-size: 15px;
  font-weight: 800;
}

.row .options .option {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.row {
  margin-bottom: 15px;
}

.row .options .option:hover :where(span, img) {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}

.option > img {
  margin-right: 10px;
}

.colors {
  display: flex;
}

.colors > .option {
  display: inline-block !important;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
  border: 0.7px solid #bfbfbf;
}

.colors > .option:nth-child(12) {
  background-image: url(media/color_circle.svg);
  background-size: 20px 20px;
}

.pickColors {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.pickColors > .option {
  display: inline-block !important;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background-color: red;
  margin-right: 10px;
  border-radius: 50%;
  border: 0.7px solid #bfbfbf;
}


.row:nth-child(4) {
  clear: both;
}

#colorPicker {
  opacity: 0;
  cursor: pointer;
}

#shapesList {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.object {
  transition: transform 0.7s ease-in-out;
  margin-top: 10px;
  list-style: none;
  padding: 10px 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  background: white;
  transition: all 0.3s;
  border-radius: 7px;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.object:hover {
  transform: scale(1.1, 1.1);
}

.optionIcons > .fa-trash-alt:hover {
  color: darkred;
}

.optionIcons > .fa-ellipsis-v:hover {
  color: darkorange;
}

.object {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.object > .shapeTitle {
  font-size: 14px;
  flex: 1;
}

.object > .optionIcons > .optionIcon {
  margin-left: 10px;
  cursor: pointer;
}

.popupLine,
.popupEllipse,
.popupRectangle {
  display: none;
}

.popup {
  background-color: #ffffff;
  width: 190px;
  padding: 15px;
  /* padding: 25px 25px; */
  position: fixed;
  /* top: 150px; */
  /* right: 10%; */
  border-radius: 8px;
  /* border: 1px solid black; */
  box-shadow: 2px 3px 5px #999;
}

.option > button {
  width: 100%;
}

.btnExport {
  background-color: white;
  opacity: 0.5;
  color: black;
  border: 2px solid #008cba;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.btnExport:hover {
  background-color: #008cba;
  color: white;
}

.popup > .controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.popup > .controls > .control {
  flex: 1 1 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.popup > .controls > .control > label {
  flex: 0 0 65%;
  flex-wrap: wrap;
  width: 65%;
}

.popup > .controls > .control > input {
  flex: 0 0 35%;
  width: 35%;
}

.control > input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.closePopup {
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: 0px transparent;
  font-size: 30px;
  margin-left: auto;
}

.popup-header {
  display: flex;
}

.popup-header > h3 {
  font-size: 80%;
}

/* width */
.objects-pane::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.objects-pane::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.objects-pane::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.objects-pane::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#solidFillCheck{
  vertical-align: middle;
  margin-left: 15px;
}

#lineWidthRange{
  width: 130px;
}